@using Hotel.Models
@model List<Room>

<div class="product-container my-5">
    @if (Model.Count > 0)
    {
        foreach (Room phong in Model)
        {
        <div class="product-card">
            @if (phong.danhGia >= 4)
            {
                <div class="badge">HOT</div>
            }
            <div class="product-tumb">
                <img
                    src="/Content/HinhAnh/@phong.hinhAnh"
                    alt="" />
            </div>
            <div class="product-details">
                <span class="product-catagory">@phong.tenLP</span>
                <div class="product-sub-details">
                    <h4><a href="/Detail/Index/@phong.tenPhong">@phong.tenPhong</a></h4>
                    @if (phong.tinhTrang == "Đặt") {
                        <span class="product-instock">Hết phòng</span>    
                    }

                    @if (phong.inStock) {
                        <span class="product-instock">trong giỏ</span>   
                    }

                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Vero, possimus nostrum!
                </p>
                <div class="product-bottom-details">
                    @if (phong.giamGia != null)
                    {
                        <div class="product-price"><small>$@string.Format("{0:#.00}", @phong.giaPhong)</small>$@string.Format("{0:#.00}",phong.giaPhong - @phong.giamGia)</div>   
                    }
                    else
                    {   
                        <div class="product-price">$@string.Format("{0:#.00}", @phong.giaPhong)</div>     
                    }

                    <div class="product-links">
                        <form action="/DatHang/ThemMatHang?tenPhong=@phong.tenPhong" method="post">
                            <button class="btn-test" type="submit"><i class="fa fa-shopping-cart"></i></button>
                        </form>

                        <form action="/Customer/ThemPhongYeuThich?tenPhong=@phong.tenPhong" method="post">
                            <button><i class="fa fa-heart"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        }
    }
    else
    {
        <div class="not-found-container">
            <div class="not-found-img-container">
                <img src="~/Content/HinhAnh/sad.png"/>
            </div>

            <h2>không tìm thấy phòng phù hợp với yêu cầu của bạn!!!</h2>
        </div>
    }
</div>
