@using Hotel.Models
@{
  ViewData["Title"] = "Profile";
  Layout = "~/Views/Shared/LayoutHotel.cshtml";
  KhachHang kh = (KhachHang)Session["kh"];
}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="~/Content/img/avatar4.png"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">@kh.tenKH</h3>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> DOB</strong>

            <p class="text-muted profile-dob">
              @kh.ngaySinh.Value.ToShortDateString()
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted profile-address">@kh.diaChi</p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Email</strong>

            <p class="text-muted profile-email">@kh.email</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <h3 class="m-auto">Profile</h3>
          </div><!-- /.card-header -->
          <div class="card-body">
            <form class="form-horizontal" action="/Customer/UpdateEmployee">
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Fullname</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Fullname" value="@kh.tenKH">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Gender (Female/Male)</label>
                <div class="col-sm-1">
                  @if (kh.gioiTinh == "Female")
                  {
                    <input type="checkbox" class="form-control" id="inputGender" placeholder="Gender" checked style="width: 25px;" />
                  }
                  else
                  {
                    <input type="checkbox" class="form-control" id="inputGender" placeholder="Gender" style="width: 25px;" />
                  }

                </div>
              </div>
              <div class="form-group row">
                <label for="inputName2" class="col-sm-2 col-form-label">DOB</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="inputDOB" placeholder="DOB" value="@kh.ngaySinh.Value.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="@kh.email" />
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Phone number</label>
                <div class="col-sm-10">
                  <input type="tel" class="form-control" id="inputPhone" placeholder="Phone number" maxlength="10" value="@kh.sdt" />
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputAddress" placeholder="Address" value="@kh.diaChi" />
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPass" placeholder="Password" value="@kh.pass" />
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </div>
            </form>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(".btn-danger").click(function (e) {
    e.preventDefault();

    const emailReg = validateEmail($("#inputEmail").val());
    const phoneNumberReg = validatePhoneNumber($("#inputPhone").val());

    if (!phoneNumberReg) {
      alert("Incorrect phone number format!!!");
      return false;
    }

    if (!emailReg) {
      alert("Incorrect email format!!!");
      return false;
    }

    const nhanVien = {
      maKH: @kh.maKH,
      tenKH: $("#inputName").val(),
      gioiTinh: $("#inputGender").prop("checked") ? "Female" : "Male",
      ngaySinh: $("#inputDOB").val(),
      email: $("#inputEmail").val(),
      sdt: $("#inputPhone").val(),
      diaChi: $("#inputAddress").val(),
      pass: $("#inputPass").val()
    }

    console.log(nhanVien);

    $.ajax({
      url: '/Customer/UpdateCustomer',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(nhanVien)
    }).done(function (result) {
      window.location.href = window.location.origin + result.url;
    })
  })

  function updateProfile(loginKH) {
    alert("Your profile is successfully updated!!!");

    $(".profile-username").text(loginKH.TenNV);

    const dob = new Date(parseInt(loginKH.ngaySinh.substr(6)));
    $(".profile-dob").text(formatDate(dob));

    $(".profile-address").text(loginKH.DiaChi_NV);
    $(".profile-email").text(loginKH.Email);

    $(".status-name").text(loginKH.TenNV);
  }

  function formatDate(date) {
    const day = date.getDate();       // yields date
    const month = date.getMonth() + 1;    // yields month (add one as '.getMonth()' is zero indexed)
    const year = date.getFullYear();  // yields year

    // After this construct a string with the above results as below
    return [month, day, year].join("/");
  }

  function validatePhoneNumber(str) {
    const regex = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
    return regex.exec(str);
  }

  function validateEmail(str) {
    const regex = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return regex.exec(str);
  }


  $("#inputPhone").keypress(function (e) {
    if (!isNumber(e)) return false;
  })

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
</script>

